
body{
    background: url('../img/login_bg.png') no-repeat;
    background-size: cover;
    margin:0; padding:0;
}

.container{
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}
.warning{
    font-size: 2.2em;
    font-weight: 600;
    color: #213350;
    text-align: center;
    margin-bottom: 1.6rem;
}
.login-form{
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(12px);
    box-shadow: 0 10px 24px -3px rgb(29 20 75 / 12%), 0 4px 12px -2px rgb(29 20 75 / 8%);
    width: 400px;
    margin: 0 auto;
    padding: 1rem 2rem 2rem;
    border-radius: .5rem;
    margin-bottom: 2rem;
}
.login-form .label{
    font-size: 1.3em;
    color: #213350;
    font-weight: 500;
    margin: 1rem 0 0.5rem;
}

.login-form input[type=submit]{
    margin-top: 1.2rem;
    font-size: 1.3em;
}

@media screen and (max-width: 480px){

    .login-form{
        width: 95%;
    }
}
