table th:nth-child(1), th:nth-child(2){
    text-align: left;
}

.d-none {
    display: none!important;
}

.list-thumb{
    width: 200px;
}


@media screen and (max-width: 481px){
    .list-thumb{
        width: 80px;
    }
}
