.text-muted {
    color: #6c757d!important;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}
.btn, .navbar .navbar-nav>a.btn {
    border-width: 2px;
    font-weight: 400;
    font-size: .8571em;
    line-height: 1.35em;
    border: none;
    margin: 10px 1px;
    border-radius: .1875rem;
    padding: 11px 22px;
    cursor: pointer;
    background-color: #888;
    color: #fff;
}
select{
    padding: 12px 6px;
    width: 100%;
    border-radius: 4px;
    color: #505050;
    border: 1px solid #ddd;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn2 {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1.2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    float: right;
    background: #0eb1c9;
    color: #fff !important;
    text-decoration: none;
    position: relative;
    top: 10px;
    cursor: pointer;
    margin-left: 5px;
}
table th:nth-child(1), th:nth-child(2){
    text-align: left;
}

.d-none {
    display: none!important;
}
.modal-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #000;
    top: 0;
    left: 0;
    opacity: 0.5;
    display: none;
}
.modal-container{
    position: fixed;
    top: 10%;
    width: 400px;
    left: calc(50% - 200px);
    background: #fff;
    z-index: 10001;
    border-radius: 15px;
    overflow: hidden;
    display: none;
}
.modal-container .head-wrap{
    text-align: center;
    position: relative;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    background-color: #00a1b7;
    color: #fff;
}
.modal-container .head-wrap i{
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    top: 17px;
    right: 25px;
    color: #fff;
}
.modal-container .body{
    padding: 15px;
}
.modal-container .body .label-name{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}
.modal-container .body .submit{
    padding: 8px 15px;
    font-size: 16px;
    color: #fff;
    background: #00a1b7;
    display: block;
    margin: 30px auto 0;
    border-radius: 8px;
    border: none;
    width: 200px;
    text-align: center;
}
