.page-header h4{
    font-size: 25px;
    font-weight: 500;
}
.list-container{
    display: flex;
    width: 100%;
    gap: 1em;
    flex-wrap: wrap;
}
.list-container .item{
    border-radius: 5px;
    border: 1px solid #e2e5ee;
    color: #444;
    background: #fff;
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;
    width: 20%;
    height: 180px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 1%;
    cursor: pointer;
}
.list-container .item .img-wrapper{
    width: 100%;
}
.list-container .item img{
    height: 70px;
    text-align: center;
}
.list-container .item p{
    display: block;
    width: 100%;
}
.list-container .item:hover{
    border: 1px solid #4873B8;
    box-shadow: 2px 0px 24px rgba(0,0,0,0.05);
}

.list-container .item:hover > p{
    color: #4873B8;
}

@media screen and (max-width: 991px) {

    .list-container{
        width: 100%;
        gap: 10px !important;
    }

    .list-container .item{
        width: 48%;
        width: calc((100vw - 42px) / 2);
        width: -webkit-calc((100vw - 42px) / 2);
        height: 148px;
        gap: 12px;
    }

    .list-container .item img{
        height: 50px;
    }

    .list-container .item p{
        text-align: center;
        font-size: 0.9em;
    }
}
